<!-- ADMIN LANDING PAGE RENDERED ON RESTRICTED ACCESS -->
<!DOCTYPE html>
<html lang="en">
	<head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="styles/styles.css">
        <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">

        <script src="/socket.io/socket.io.js"></script>
        <script src="js/clientControl.js"></script>

	</head>
    <body>
        <div class = "title">CHAT SERVER</div>
        <div class = "usernamePrompt">No Privilege Access to this Data {{userid}}</div>

        <input type='button' id="back_button" value='Back'>
    </body>
</html>
